@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.4rem;
  font-family: "Quicksand", sans-serif;
  color: #5a3e2b;
  font-weight: 500;
  overflow: hidden; /* Prevents scrollbars caused by body overflow */
}

.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ensures no vertical scrollbars */
}

h1 {
  text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
  margin: 0;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
  background-color: #ffebb3;
  color: #5a3e2b;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.add-form button {
  text-transform: uppercase;
  background-color: #76c7ad;
}

.list-container {
  background-color: #5a3e2b;
  color: #ffebb3;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh; /* Ensures it takes up space even when empty */
}

.list {
  list-style: none;
  width: 80%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
}

.list ul {
  list-style: none;
  width: 80%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
}

.list li {
  background-color: #e5771f;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.list li:hover {
  background-color: #ffebb3;
  color: #5a3e2b;
  text-decoration: line-through;
}

.stats {
  background-color: #76c7ad;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
  margin: 0;
}
